/* Get rid of all borders, margins, and padding. */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Make the html/body 100% width and height. */
html, body {
  width: 100%;
  overflow: hidden;
}

/* Place the canvas at the top left and make sure it displays block style.*/
/* The canvas is (re)sized using JavaScript. */
.plane {
  position: fixed;
  top: 40;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  touch-action: none;
  border: 1px solid black;
}

.point {
  fill: rgb(255, 108, 95);
  cursor: crosshair;
}

.line {
  stroke: rgb(0, 174, 255);
}

.circle {
  stroke: rgb(77, 197, 148);
  fill: none;
}

.label {
  fill:  rgb(142, 67, 231);
}

.toolbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important; 
  height: 48px;
  border: 0 !important;
  background-color: rgba(233, 233, 231, 0.8) !important;
  z-index: 9999999 !important;
}

.toolbar-button {
  margin: 6px 16px;
  width: 36px;
  height: 36px;
}

.toolbar-button-inactive {
  fill: rgb(0, 174, 255);
}

.toolbar-button-active {
  fill: rgb(142, 67, 231);
}

.toolbar-button:hover {
  fill: rgb(77, 197, 148);
  cursor: pointer;
}