/* Get rid of all borders, margins, and padding. */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Make the html/body 100% width and height. */
html, body {
  width: 100%;
  overflow: hidden;
}

/* Place the canvas at the top left and make sure it displays block style.*/
/* The canvas is (re)sized using JavaScript. */
.plane {
  position: fixed;
  top: 40;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  touch-action: none;
  border: 1px solid black;
}

.line {
  stroke: rgb(0, 174, 255);
}

.circle {
  stroke: rgb(77, 197, 148);
  fill: none;
}

.label {
  fill:  rgb(142, 67, 231);
}

.point {
  cursor: crosshair;
}

.point_inactive {
  fill: rgb(142, 67, 231);
}

.point_active_circle {
  fill: rgb(255, 108, 95) !important;
}

.point_active_line {
  fill: rgb(28, 199, 208) !important;
}