/* Get rid of all borders, margins, and padding. */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.parent_of_plane {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
}


.line {
  stroke: rgba(0, 174, 255, 0.7);
  stroke-width: 1px;
  fill: none;
  stroke-dasharray: 5, 3;
}

.circle {
  stroke: rgba(77, 197, 148, 0.7);
  stroke-width: 1px;
  fill: none;
  stroke-dasharray: 5, 3;
}

.label {
  fill:  rgba(142, 67, 231, 0.7);
  font-size: 10pt;
}

.point_group {
  cursor: crosshair;
}

.point_inactive > circle, .point_inactive > text {
  fill: rgba(142, 67, 231, 0.7);
}

.point_active_circle > circle, .point_active_circle > text {
  fill: rgba(255, 108, 95, 0.7) !important;
}

.point_active_line > circle, .point_active_line > text {
  fill: rgba(28, 199, 208, 0.7) !important;
}
